<!doctype html>
<html lang="pl">
  <head>
    {% load static %}
    <link rel="icon" href="{% static 'info/house-fill.svg' %}" sizes="any">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="30">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Hej, cześć! To ja, Twój domek!</title>
  </head>
  <body>
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <br>

    <div class="container" align="center">
      {{date}}
    </div>

    <h1 align="center">Dzień dobry!</h1>

    <div class="container" align="center">
      <img src="{% static 'info/sunrise.svg' %}" height="30"> {{sunrise}} <img src="{% static 'info/sunset.svg' %}"  height="30"> {{sunset}}
    </div>
    <br>

    <div class="container px-4" align="center">
      <div class="row gx-5">
        <div class="col-sm">
          <div class="p-3 border bg-light">
            <b>{{temp_external}}</b><br>
            <a href="/temp/ext">Na polu</a><br>
            <p class="text-muted"><span style="font-size:0.8em">{{tm_temp_external}}</span></p>
          </div>
        </div>
        <div class="col-sm">
          <div class="p-3 border bg-light">
            <b>{{temp_internal}}</b><br>
            <a href="/temp/int">W domu</a><br>
            <p class="text-muted"><span style="font-size:0.8em">{{tm_temp_internal}}</span></p>
          </div>
        </div>
        <div class="col-sm">
          <div class="p-3 border bg-light">
            <b>{{temp_bunker}}</b><br>
            <a href="/temp/any?sensor=Bunker&name=bunkier&date={{date_short}}">W bunkrze</a>
            <p class="text-muted"><span style="font-size:0.8em">{{tm_temp_bunker}}</span></p>
          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="container px-4" align="center">
      <div class="row gx-5">
        <div class="col-sm">
          <div class="p-3 border bg-light">
            {{wind_dir}} <img src="{% static 'info/' %}{{wind_dir_icon}}" height="30"> <span style="font-size:0.8em">{{wind_dir_var}}</span><br>
            Wiatr: {{wind_speed}} (poryw: {{wind_peak}})
          </div>
        </div>
        <div class="col-sm">
          <div class="p-3 border bg-light">
            <b>{{rain_mm}}</b><br>
            Deszcz w ciągu ostatnich {{rain_obs_h}}
          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="container px-4" align="center">
      <div class="row gx-5">
        <div class="col-sm">
          <div class="p-3 border bg-light">
            <img src="{% static 'info/' %}{{sky_state_icon}}" height="30"><br>
            <span style="font-size:0.8em">Światło: {{daylight_perc}}% </span>
          </div>
        </div>
        <div class="col-sm">
          <div class="p-3 border bg-light">
            <b>{{pressure}} hPa</b> <img src="{% static 'info/' %}{{pressure_tendency_icon}}"><br>
            Ciśnienie
          </div>
        </div>
        <div class="col-sm">
          <div class="p-3 border bg-light">
            <b>{{humidity_in}} %</b>  <img src="{% static 'info/' %}{{hum_in_tendency_icon}}"><br>
            Wilgotność
          </div>
        </div>
      </div>
    </div>

    <br>


    <div class="container px-4" align="center">
      <div class="row gx-5">
        <div class="col-sm">
          Elektrownia słoneczna<br>
          <span style="font-size:0.8em">{{tm_sol}}</span>
        </div>
      </div>
      <div class="row gx-5">
        <div class="col-sm">
          <div class="p-3 border bg-light">
            <b>{{sol_prod_now_w}} W</b><br>
            {{sol_prod_now_progress}}
            <div>Teraz</div>
            <br>
          </div>
        </div>
        <div class="col-sm">
          <div class="p-3 border bg-light">
            <b>{{sol_prod_today}} kWh</b><br>
            Dzisiaj
            <br>
          </div>
        </div>
        <div class="col-sm">
          <div class="p-3 border bg-light">
            Minimum: <b>{{sol_prod_h_min_w}} W</b>, {{sol_prod_h_min_perc}}%<br>
            Średnia: <b>{{sol_prod_h_avg_w}} W</b>, {{sol_prod_h_avg_perc}}%<br>
            Maksimum: <b>{{sol_prod_h_max_w}} W</b>, {{sol_prod_h_max_perc}}%<br>
            Ostatnia godzina
          </div>
        </div>
      </div>
    </div>

    <br>


    <div class="container px-4" align="center">
      <div class="row gx-5">
        <div class="col-sm">
          Jakość powietrza<br>
          <span style="font-size:0.8em">{{tm_aq}}</span>
        </div>
      </div>
      <div class="row gx-5">
        <div class="col-sm">
          <div class="p-3 border bg-light">
            <b>PM 10</b><br>
            {{aq_pm_10_norm_perc}}<br>
            {{aq_pm_10_level}}
          </div>
        </div>
        <div class="col-sm">
          <div class="p-3 border bg-light">
            <b>PM 2.5</b><br>
            {{aq_pm_2_5_norm_perc}}<br>
            {{aq_pm_2_5_level}}
          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="container px-4" align="center">
      <div class="row gx-5">
        <div class="col-sm">
          Stan szamba<br>
          <span style="font-size:0.8em">{{tm_cesspit}} odczyt {{cesspit_reading_state}}</span>
        </div>
      </div>
      <div class="row gx-5">
        <div class="col-sm">
          <div class="p-3 border bg-light">
            {{cesspit_progress}}
          </div>
        </div>

      </div>
    </div>

  <br>

    <div class="container px-4" align="center">
      <div class="row gx-5">
        <div class="col-sm">
          <div class="p-3 border bg-light">
            Świerk: <b>{{soil_hum_0}} %</b> <img src="{% static 'info/' %}{{soil_hum_tendency_icon_0}}">
            Bunkier: <b>{{soil_hum_1}} %</b> <img src="{% static 'info/' %}{{soil_hum_tendency_icon_1}}"><br>
            Piwonie: <b>{{soil_hum_2}} %</b> <img src="{% static 'info/' %}{{soil_hum_tendency_icon_2}}"><br>
            Wilgotność gleby
          </div>
        </div>
        <div class="col-sm">
          <div class="p-3 border bg-light">
            <div>Poziom magazynu wody</div>
            {{water_tank_progress}}
            <p class="text-muted"><span style="font-size:0.8em">{{tm_water_tank_level}}</span></p>
          </div>
        </div>
      </div>
    </div>


  </body>
</html>